body{
    padding: 0px;
    margin: 0px;
  

}
a.side {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: white;
}
hr {
    margin: 0px;
    padding: 0px;
    height: 3px;
    background-color: #b0bec5;
    border: 0px;
}

.header{
    width: 960px;
    margin: 0 auto;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    
}
.header-links{
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 20px;
    color: #777;
    font-size: 18px;
    
   
}
#name{
    background-color: #26c6da;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    color: white !important;
    font-family: 'Arial';
    font-size: 32px;
}

h1, h2{
    color: #26c6da;
}


#main-body{
    width: 960px;
    margin: 0 auto;
}

#background{
    background-image: url("https://i.stack.imgur.com/xfn1X.jpg");
    position:absolute;
    top:90px;
    bottom:70px;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1;
}

.section {
    border: solid 1px gray;
    margin-top: 40px;
}

#cat{
    height: 150px;
    width: 200px;
    padding: 5px;
    padding-right: 20px;
    float: left;
}

#about-me{
    float: left;
    padding: 20px;
    width: 630px !important;
    
    background-color: white;
    color: #455a64;
    line-height: 35px;
    height: 400px;
    overflow: scroll;
    font-family: 'Helvetica Neue';
}
#side-bar{
    float: right;
    width: 230px;
    padding: 20px;
    background-color: white;
    font-family: 'Helvetica Neue';
    
}

.connectImage{
    width: 50px;
    height: 50px;
    padding: 5px;
}

#images{
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
}


.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:70px;
    width:100%;
    background:#b0bec5;
    text-align: center;
 }

 .footer p{
     height: 70px;
     line-height: 70px;
     text-align: bottom;
 }
 .footerLine {
    position:fixed;
    left:0px;
    bottom:70px;
    height:10px;
    width:100%;
    background: #26c6da;
    
 }

 #second{
     clear: both;
 }

 input{
     width: 100%;
     padding-top: 0;
     margin-top: 0;
 }

 .message{
     line-height: 100px;
     height: 100px;

 }

